a {
  color: #fff;
  text-decoration: none;
}
.input_wrapper {
  width: 40%;
  margin: 40px auto 0;
  background-color: #f6f7f9;
  padding: 30px;
}
.input_form {
  text-align: center;
  margin-top: 20px;
}
.title {
  font-size: 30px;
  text-align: center;
}
.title_wrapper {
  background-color: #f3f6f9;
  color: #1d50a2;
  font-size: 24px;
  padding: 20px;
}
.input {
  border-radius: 5px;
  width: 90%;
  height: 30px;
  padding: 7px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}
.btn {
  border: 1px solid #1d50a2;
  border-radius: 10px;
  background-color: #1d50a2;
  text-align: center;
  color: #fff;
  width: 130px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.error {
  margin-top: 10px;
  color: tomato;
  font-weight: bold;
}
.flex {
  display: flex;
  justify-content: right;
}
li {
  list-style: none;
}
.user_name {
  font-size: 26px;
  margin-right: 10px;
}
.post_header_img {
  margin-right: 10px;
}
.content {
  font-size: 20px;
}
.likes_num {
  font-size: 20px;
  margin-right: 10px;
}
.likes_btn,
.logout_btn {
  border: 1px solid #1d50a2;
  background-color: #1d50a2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  vertical-align: center;
  align-items: center;
}
.post_item {
  border: 1px solid #f6f7f9;
  background-color: #1d50a2;
  color: #f6f7f9;
  padding: 20px;
}
.post_header {
  align-items: center;
  vertical-align: center;
  display: flex;
  margin-bottom: 20px;
}
.post_delete_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 40px;
}
