a {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 30px;
  text-align: center;
}
.btn {
  border: 1px solid #1d50a2;
  border-radius: 10px;
  background-color: #1d50a2;
  padding: 10px;
  text-align: center;
  color: fff;
  width: 130px;
  font-size: 16px;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
