a {
  color: #fff;
  text-decoration: none;
}
.input_wrapper {
  width: 40%;
  margin: 40px auto 0;
  background-color: #f6f7f9;
  padding: 30px;
}
.input_form {
  text-align: center;
  margin-top: 20px;
}
.title {
  font-size: 30px;
  text-align: center;
}
.input {
  border-radius: 5px;
  width: 90%;
  height: 30px;
  padding: 7px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}
.btn {
  border: 1px solid #1d50a2;
  border-radius: 10px;
  background-color: #1d50a2;
  padding: 10px;
  text-align: center;
  color: #fff;
  width: 130px;
  font-size: 16px;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.error {
  color: red;
  font-weight: bold;
}
